<div class="item">
        <div class="admin-form">
          <div class="field admin-field" style="flex: 0 100%;">
            <p>Nome</p>
            <input 
              type="text" 
              name="name" 
              value="{{user.name}}" 
              placeholder="Digite seu nome"
              required>
          </div>

          <div class="field admin-field" style="flex: 0 100%; margin-top: 16px;">
            <input 
              type="text" 
              name="email" 
              value="{{user.email}}"
              required>
          </div>
        </div>
</div>