<div class="item">
        <div class="admin-form">
          <div class="field admin-field" style="flex: 0 100%;">
            <p>Nome</p>
            <input 
              type="text" 
              name="name" 
              value="{{chef.name}}" 
              placeholder="Digite seu nome"
              required>
          </div>

          <div class="field admin-field" style="flex: 0 100%; margin-top: 16px;">
            <p>Avatar</p>
            <input 
              type="file" 
              name="avatar" 
              value="{{ chef.avatar }}">
          </div>
        </div>
</div>
