<div class="item">
        <div class="admin-form">
          <div class="field admin-field" style="flex: 0 50%;">
            <p>Nome</p>
            <input 
              type="text" 
              name="name" 
              value="{{user.name}}" 
              placeholder="Digite seu nome"
              required>
          </div>

          <div class="field admin-field" style="flex: 0 50%;">
            <p>Email</p>
            <input 
              type="text" 
              name="email" 
              value="{{user.email}}" 
              placeholder="Digite seu email"
              required>
          </div>
          
          <div class="field admin-field">
            <p>Administrador</p>
            <input 
              type="checkbox" 
              name="admin" 
              {% if user.is_admin == true %}
                checked
              {% endif %}
              value="true">
          </div>
        </div>
</div>