{% extends "admin/layout.njk" %}

{% block head %}
  <title>Usuários</title>
{% endblock %}

{% block content %}

<div class="main">
  <div class="main-recipes">
    <div class="recipes">
      {% for user in users %}
          <div class="chef-card">
            <div class="chef">
              <h2>{{user.name}}</h2>
              <h3>{{user.email}}</h3>
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}