{% extends "layout.njk" %}

{% block head %}
  <title>Chefs</title>
{% endblock %}

{% block content %}

  <div class="app">
    <div class="chefs-container">
      {% for chef in chefs %}
        <div class="chef">
          <img src="http://placehold.it/500x500?text=SEM-IMAGEM" alt="img">
          <div class="chef-info">
            <h3>Nome</h3>
              <p>2 receitas</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}