{% extends "home/layout.njk" %}

{% block head %}
  <title>Chefs</title>
{% endblock %}

{% block content %}

<div class="main">
  <div class="main-recipes">
    <div class="recipes">
      {% for chef in chefs %}
          <div class="chef-card">
            <img src="{{chef.image if chef.image else 'http://placehold.it/500x500?text=SEM-IMAGEM'}}" alt="{{chef.name}}">
            <div class="chef">
              <h2>{{chef.name}}</h2>
              <h3>{{chef.recipes}} receita(s)</h3>
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}