{% extends "layout.njk" %}

{% block head %}
  <title>Receitas</title>
{% endblock %}

{% block content %}

<div class="app">
    <section>
      <div class="cards">
          <div class="card recipe-pointer" id="1">
            <img src="http://placehold.it/500x500?text=SEM-IMAGEM" alt="img">
            <h6>Title</h6>
            <p>Author</p>
          </div>
      </div>
    </section>
</div>

{% endblock %}