{% extends "home/layout.njk" %}

{% block head %}
  <title>Receitas</title>
{% endblock %}

{% block content %}

<div class="main">
  <section class="main-recipes">
    <div class="recipes">
    {% for item in recipes %}
       <div class="recipe-card">
       <a href="/recipes/{{item.id}}">
        <img
          class="image"
          src="{{item.img if item.img else 'http://placehold.it/500x500?text=SEM-IMAGEM'}}"
          alt="{{item.title}}"
        />
        </a>
        <p class="title">{{item.title}}</p>
        <p class="author">{{item.author}}</p>
      </div>
    {% endfor %}
  </section>
</div>

{% endblock %}