{% extends "layout.njk" %}
{% import "parts/card.njk" as cards %}

{% block content %}

{% call cards.render('', 'order-error container') %}

    <div class="error-lottie"></div>
    <h2>Desculpe!</h2>
    <p>Não pudemos processar seu pedido</p>
    <a href="#" onclick="history.back()">Tente novamente</a>
    

{% endcall %}

<script src="/lottie.min.js" type="text/javascript"></script>
<script>
    const element = document.querySelector('.error-lottie')

    lottie.loadAnimation({
        container: element,
        renderer: 'svg',
        loop: false,
        autoplay: true,
        path: '/4970-unapproved-cross.json' 
    }).setSpeed(2.5)
</script>
    
{% endblock content %}