@keyframes hidemessage {
    to {
        opacity: 0;
    }
}

.messages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 120px;
    border-radius: 4px;
    color: #ffffff;
    position: absolute;
    z-index: 1;
    float: right;
    margin-top: 0.8%;
    margin-left: 80%;
  
    animation: hidemessage 3s 100ms ease-in-out forwards;
}

.messages.error {
    background-color: #DC4747;
}

.messages.success {
    background-color: #01B12A;
}