.order-success,
.order-error {
    padding: 0;
    padding-bottom: 112px;
    text-align: center;
    margin: auto;
}

.order-success .success-lottie {
    height: 150px;
}

.order-success a {
    color: var(--secundary-color);
}

.order-error a {
    color: var(--primary-color);
}

.order-error .success-error {
    height: 80px;
    margin: 80px 0 56px;
}