{% extends "admin/layout.njk" %}

{% block title %} 
  <title>Receitas</title> 
{% endblock %}

{% block content %}
  <div class="main">
    <form action="/admin/recipes" method="POST">
      <div class="admin-form">
          <div class="form-header">
            <div style="flex: 0 60%;">
                <h1>Cadastrar Receita</h1>
            </div>
            <div style="flex: 0 40%;">
                <button class="login-button" type="submit">Salvar</button>
                <a id="bkButton" href="/admin/recipes">Cancelar</a>
            </div>
          </div>
      </div>
      {% include 'admin/recipes/fields.njk' %}
    </form>
  </div>
{% endblock %}