{% extends "admin/layout.njk" %}

{% block title %} 
  <title>Chef</title> 
{% endblock %}

{% block content %}
  <div class="main">
    <form action="/admin/recipes?_method=PUT" method="post">
      <div class="admin-form">
          <div class="form-header">
            <div style="flex: 0 60%;">
                <h1>Cadastrar Chefs</h1>
            </div>
            {% if admin == true %}
            <div style="flex: 0 40%;">
                <button class="login-button" type="submit">Salvar</button>
                <a id="bkButton" href="/admin/chefs">Cancelar</a>
            </div>
            {% endif %}
          </div>
      </div>
      <input type="hidden" name="id" value="{{recipe.id}}">
      {% include 'admin/recipes/fields.njk' %}
    </form>
  </div>
{% endblock %}