{% extends "admin/layout.njk" %}

{% block title %} 
  <title>Receitas</title> 
{% endblock %}

{% block content%}

<div class="main">
     <div class="admin-form">
          <div class="form-header">
            <div style="flex: 0 80%;">
                <h1>Gerenciar Receitas</h1>
            </div>
            {% if admin == true %}
            <div style="flex: 0 20%;">
                <a id="addButton" href="/admin/recipes/create">Novo</a>
            </div>
            {% endif %}
          </div>
      </div>
    <div class="main-recipes">
      <div class="recipes">
        {% for recipe in recipes %}
            <div class="chef-card">
              <img src="{{recipe.img if recipe.img else 'http://placehold.it/500x500?text=SEM-IMAGEM'}}" alt="{{recipe.name}}">
              <div class="chef">
                <h2>{{recipe.title}}</h2>
                <div class="user-links">
                  <a href="/recipes/{{recipe.id}}">Visualizar</a>
                  {% if admin == true %}
                  <a href="/admin/recipes/{{recipe.id}}/edit">Editar</a>
                  <form id="delete" action="/admin/recipes?_method=DELETE" method="post">
                    <input type="hidden" name="id" value="{{recipe.id}}">
                    <button type="submit">Remover</button>
                  </form>
                  {% endif %}
                </div>
              </div>
            </div>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}