<header class="main-header">
    <a class="logo" href="/">
        <img src="../../assets/logo.png" alt="Logo do Foodfy" />
    </a>
    <nav class="nav">
        <a class="link" href="/about">Sobre</a>
        <a class="link" href="/users">Chefs</a>
        <a class="link" href="/login">Login</a>
    </nav>
    <form class="search" action="/receipts/search" method="GET">
        <input 
            type="text" 
            name="filter"
            placeholder="Buscar receitas"
            {% if search.term %}
                value={{search.term}}
            {% endif %}>
        <button class="search-button">Buscar</button> 
    </form>
</header>
