<header class="main-header">
    <a class="logo admin" href="/">
        <img src="../../assets/logo.png" alt="Logo do Foodfy" />
    </a>
    <nav class="nav admin">
        <a class="link" href="/receipts">Receitas</a>
        <a class="link" href="/chefs">Chefs</a>
        <a class="link" href="/users">Usuários</a>
        <form action="/users/logout"
                method="POST">
            <button>Sair</button>
        </form>
    </nav>
</header>
