<header>
    <nav>
        <div class="nav">
            <a class="logo" href="/">
                <img src="../../assets/logo.png" alt="Logo do Foodfy" />
            </a>
            <a class="link" href="/about">Sobre</a>
            <a class="link" href="/chefs">Chefs</a>
            <a class="link" href="/recipes">Receitas</a>
        </div>
        <form action="/home" method="GET">
            <input 
                type="text" 
                name="filter"
                placeholder="Buscar receitas"
                {% if search.term %}
                    value={{search.term}}
                {% endif %}>
            <button type="submit">Buscar</button> 
        </form>
    </nav>
</header>
