<header>
    <nav>
        <div class="nav">
            <a class="logo" href="/">
                <img src="../../assets/logo.png" alt="Logo do Foodfy" />
            </a>
            <a class="link" href="/about">Sobre</a>
            <a class="link" href="/chefs">Chefs</a>
            <a class="link" href="/recipes">Receitas</a>              
            {% if session.userId %}
                <a class="link" href="admin/users">Área Restrita</a>
                <a class="link" href="admin/logout">Logout</a>
            {% else %}
                <a class="link" href="admin/login">Login</a>
            {% endif %}
        </div>
        <form action="/recipes" method="GET">
            <input 
                type="text" 
                name="search"
                placeholder="Buscar receitas"
                {% if search.term %}
                    value={{search.term}}
                {% endif %}>
            <button type="submit">Buscar</button> 
        </form>
    </nav>
</header>
